---
name: Check spelling

# yamllint disable-line rule:truthy
on:
  # USE_WORKFLOW
  workflow_call:
# /USE_WORKFLOW
# USE_REPOSITORY
#  pull_request:
# /USE_REPOSITORY

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - run: |
          # renovate: datasource=npm depName=@cspell/dict-cspell-bundle
          cspell_dict_version="2.0.46"
          npm i -D @cspell/dict-cspell-bundle@${cspell_dict_version}

          # renovate: datasource=npm depName=cspell
          cspell_version="9.6.0"
          npx cspell@${cspell_version} . -c .config/cspell.json --dot

  validate-dictionaries:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - run: .github/workflows/scripts/check_dictionaries.sh
