---
name: Check spelling

# yamllint disable-line rule:truthy
on:
  # USE_WORKFLOW
  workflow_call:
# /USE_WORKFLOW
# USE_REPOSITORY
#  pull_request:
# /USE_REPOSITORY

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - run: |
          # renovate: datasource=npm depName=@cspell/dict-cspell-bundle
          cspell_dict_version="2.0.49"
          npm i -D @cspell/dict-cspell-bundle@${cspell_dict_version}

          # renovate: datasource=npm depName=cspell
          cspell_version="9.6.2"
          npx cspell@${cspell_version} . -c .config/cspell.json --dot

  validate-dictionaries:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - run: .github/workflows/scripts/check_dictionaries.sh
