---
name: PR commented

# yamllint disable-line rule:truthy
on:
  # USE_WORKFLOW
  workflow_call:
# /USE_WORKFLOW
# USE_REPOSITORY
#  issue_comment:
#    types:
#      - created
# /USE_REPOSITORY

jobs:
  slash-command-dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@9bdcd7914ec1b75590b790b844aa3b8eee7c683a # v5.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-type: pull-request
          reactions: true
          commands: |
            help
            ready
