---
name: Release Test

# yamllint disable-line rule:truthy
on:
  # USE_WORKFLOW
  workflow_call:
    secrets:
      SEMANTIC_RELEASE_GH_TOKEN:
        required: true
# /USE_WORKFLOW
# USE_REPOSITORY
#  push:
#    branches:
#      - release-dry-run
# /USE_REPOSITORY

jobs:
  dry-release:
    name: Release dry-run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dry branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: release-dry-run

      - name: Setup release
        run: |
          # using same ref as in calling workflow
          git clone https://github.com/Hapag-Lloyd/Workflow-Templates.git .release_clone
          git checkout ${{ github.action_ref }}

          mv .release_clone/.release_github_only_auto .release
          mv .release/.releaserc.yml .releaserc.yml

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: npm --prefix .release/ ci

      - name: Dry run
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_GH_TOKEN }}
        run: unset GITHUB_ACTIONS && npx --prefix .release/ semantic-release --dry-run --no-ci --debug
