---
name: Execute ChatOps ready command

# yamllint disable-line rule:truthy
on:
  # USE_WORKFLOW
  workflow_call:
# /USE_WORKFLOW
# USE_REPOSITORY
#  repository_dispatch:
#    types:
#      - ready-command
# /USE_REPOSITORY

jobs:
  ready-command:
    name: "ChatOps: /ready"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Create comment
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            // get the PR text and make sure that all items are checked
            const pr = await github.rest.pulls.get({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              pull_number: context.payload.client_payload.pull_request.number,
            });
            const prText = pr.data.body;

            prText.split('\n').forEach(line => {
              if (line.startsWith('- [ ]')) {
                throw new Error('Please check all items in the checklist before marking the PR as ready! Unchecked item: ' + line);
              }
            });

            // remove the checklist paragraph from "# Checklist" to the end of the PR text
            // remove HTML comments
            const cleanPrText = prText.split('\n').slice(0, prText.split('\n').
                                  findIndex(line => line.startsWith('# Checklist'))).join('\n').
                                  replace(/<!--[\s\S]*?-->/g, '');

            // update the PR text
            await github.rest.pulls.update({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              pull_number: context.payload.client_payload.pull_request.number,
              body: cleanPrText,
            });

            // set the PR to ready --> this is not possible with the GitHub API, use GraphQL instead
