---
name: Build Java PR

# USE_WORKFLOW
# yamllint disable-line rule:truthy
on:
  workflow_call:
# /USE_WORKFLOW
# yamllint disable rule:comments
# USE_REPOSITORY
## yamllint disable-line rule:truthy
#on: pull_request
# /USE_REPOSITORY
# yamllint enable rule:comments

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven
      - name: Build with Maven
        run: |
          # install xmlstarlet for XML processing if needed
          sudo apt-get install xmlstarlet

          # in rare cases we have to prepare something (e.g. generate whole Maven sub-modules)
          mvn help:all-profiles | grep prepare && mvn -B package --file pom.xml -P prepare -D maven.main.skip=true

          mvn -B package --file pom.xml
