---
name: Release

# yamllint disable-line rule:truthy
on:
  # USE_WORKFLOW
  workflow_call:
    secrets:
      SEMANTIC_RELEASE_GH_TOKEN:
        required: true
      OSSRH_USERNAME:
        required: true
      OSSRH_PASSWORD:
        required: true
      GPG_SIGNING_KEY:
        required: true
      GPG_PASSPHRASE:
        required: true
# /USE_WORKFLOW
# USE_REPOSITORY
#  push:
#    branches:
#      - main
# /USE_REPOSITORY

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup release
        run: |
          # using same ref as in calling workflow
          git clone https://github.com/Hapag-Lloyd/Workflow-Templates.git .release_clone
          git checkout ${{ github.action_ref }}

          mv .release_clone/.release_maven_auto .release
          mv .release/.releaserc.yml .releaserc.yml

      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: |
          # install xmlstarlet for XML processing if needed
          sudo apt-get install xmlstarlet

          # in rare cases we have to prepare something (e.g. generate whole Maven sub-modules)
          mvn help:all-profiles | grep prepare && mvn -B package --file pom.xml -P prepare -D maven.main.skip=true

          npm --prefix .release/ ci

      - name: Release
        run: npx --prefix .release/ semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_GH_TOKEN }}
          SERVER_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          SERVER_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_SIGNING_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
