---
name: Python build

# USE_WORKFLOW
# yamllint disable rule:comments
# yamllint disable-line rule:truthy
on:
  workflow_call:
    inputs:
      python-version:
        type: string
        required: true
        description: "The minimum Python version to support"
      python-versions:
        type: string
        required: true
        description: "The Python versions to test. Usually a list of newer versions we support."
      docker-image-name:
        type: string
        required: false
        description: "Name of the image. Usually it is sensible to set this to the repository name."
        default: ""
      docker-platforms:
        type: string
        required: false
        description: "Platforms to build the docker image for"
        default: "linux/amd64,linux/arm64"
      docker-provenance:
        type: boolean
        required: false
        description: "Enable Docker image provenance"
        default: true
# /USE_WORKFLOW
# USE_REPOSITORY
##
## Global variables from project settings:
##   PYTHON_VERSION: The minimum Python version to support.
##   PYTHON_VERSIONS: The Python versions to test. Usually a list of newer versions we support.
##
#
## yamllint disable-line rule:truthy
#on: pull_request
# /USE_REPOSITORY
# yamllint enable rule:comments

permissions:
  contents: read

jobs:
  build-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ inputs.python-version }}
          cache: "pip"
          cache-dependency-path: setup.cfg

      - name: Install dependencies
        run: |
          python -m pip install -e "."

  build-docker:
    if: ${{ inputs.docker-image-name != '' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
      attestations: write
      id-token: write
    outputs:
      image-name: ${{ steps.set-lower-case-image-name.outputs.IMAGE_NAME_LC }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: set lower case image name
        id: set-lower-case-image-name
        run: |
          IMAGE_NAME="ghcr.io/${{ github.repository_owner }}/${{ inputs.docker-image-name }}"
          echo "IMAGE_NAME_LC=${IMAGE_NAME,,}" >> "${GITHUB_ENV}"
          echo "IMAGE_NAME_LC=${IMAGE_NAME,,}" >> "${GITHUB_OUTPUT}"
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Configure Tags
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        id: meta
        with:
          images: ${{ env.IMAGE_NAME_LC }}
          tags: |
            type=ref,event=pr
            type=edge,enable={{is_default_branch}}
            type=raw,value=sha-${{ github.event.pull_request.head.sha }},enable={{is_not_default_branch}}
            type=semver,enable={{is_default_branch}},pattern={{version}}
            type=semver,enable={{is_default_branch}},pattern={{major}}.{{minor}}
            type=semver,enable={{is_default_branch}},pattern={{major}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Build and push Docker image
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6.19.1
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: ${{ inputs.docker-provenance }}
          platforms: ${{ inputs.docker-platforms }}

  trivy-scan:
    if: ${{ inputs.docker-image-name != '' && github.event_name == 'pull_request' }}
    needs: build-docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          image-ref: ${{needs.build-docker.outputs.image-name}}:sha-${{ github.event.pull_request.head.sha }}
          format: "sarif"
          output: "trivy-results.sarif"
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4.32.2
        with:
          sarif_file: "trivy-results.sarif"

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: astral-sh/ruff-action@4919ec5cf1f49eff0871dbcea0da843445b837e6 # v3.6.1
        name: Lint on ${{ inputs.python-version }}
        with:
          args: "check"
          # renovate: datasource=github-releases depName=astral-sh/ruff
          version: "0.8.6"

  test-unit:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ${{ fromJSON(inputs.python-versions) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: setup.cfg

      - name: Install dependencies
        run: |
          python -m pip install -e ".[test]"

      - name: Test on ${{ matrix.python-version }}
        env:
          # for collecting the tests in pytest. If boto3 is initialized early, the fixture might not have been run and the
          # environment variable is not present
          AWS_DEFAULT_REGION: "eu-central-1"
        run: |
          PYTHONPATH=src \
          pytest -v --doctest-modules --junitxml=junit/test-results.xml --cov-report=xml --cov-report=html \
            tests/unit/

  test-infra:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ${{ fromJSON(inputs.python-versions) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run docker-compose
        uses: hoverkraft-tech/compose-action@4894d2492015c1774ee5a13a95b1072093087ec3 # v2.5.0
        with:
          compose-file: "./tests/docker-compose-infra.yml"
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: setup.cfg

      - name: Install dependencies
        run: |
          python -m pip install -e ".[test]"

      - name: Test on ${{ matrix.python-version }}
        env:
          # for collecting the tests in pytest. If boto3 is initialized early, the fixture might not have been run and the
          # environment variable is not present
          AWS_DEFAULT_REGION: "eu-central-1"
        run: |
          PYTHONPATH=src \
          pytest -v --doctest-modules --junitxml=junit/test-results.xml --cov-report=xml --cov-report=html \
            tests/infra/

  test-api:
    runs-on: ubuntu-latest
    needs:
      - build-python
      - build-docker
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run docker-compose
        uses: hoverkraft-tech/compose-action@4894d2492015c1774ee5a13a95b1072093087ec3 # v2.5.0
        env:
          COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
        with:
          compose-file: "./tests/docker-compose-api.yml"
      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ inputs.python-version }}
          cache: "pip"
          cache-dependency-path: setup.cfg

      - name: Install dependencies
        run: |
          python -m pip install -e ".[test]"

      - name: API test environment is Python ${{ inputs.python-version }}
        env:
          # for collecting the tests in pytest. If boto3 is initialized early, the fixture might not have been run and the
          # environment variable is not present
          AWS_DEFAULT_REGION: "eu-central-1"
        run: |
          PYTHONPATH=src pytest -v --doctest-modules --junitxml=junit/test-results.xml --cov-report=xml --cov-report=html tests/api/
