---
name: Terraform

# yamllint disable-line rule:truthy
on:
  # USE_WORKFLOW
  workflow_call:
    inputs:
      minimum-terraform-version:
        type: string
        required: false
        default: "1.0.0"
        description: "Minimum Terraform version to use for validation"
# /USE_WORKFLOW
# USE_REPOSITORY
#  pull_request:
# /USE_REPOSITORY

permissions:
  id-token: write
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        terraform:
          - ${{ inputs.minimum-terraform-version }}
          - latest
        directories: [".", "examples/cost", "examples/simple", "examples/full"]
    defaults:
      run:
        working-directory: ${{ matrix.directories }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform }}

      - run: terraform -version

      - run: terraform init -input=false -backend=false

      - run: terraform validate
