---
name: Terraform

# yamllint disable-line rule:truthy
on:
  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/terraform_module_terraform_callable.yml@5c9ed2712cf4a213138df8ab92f4e1384712784a # 1.25.8
    secrets: inherit
    with:
      # TODO insert correct value for minimum-terraform-version
      # type: string
      # required: false
      # description: Minimum Terraform version to use for validation
      minimum-terraform-version: "my special value"
