---
name: Terraform

# yamllint disable-line rule:truthy
on:
  # USE_WORKFLOW
  workflow_call:
    secrets:
      TFLINT_ROLE_ARN:
        required: true
      TFLINT_AWS_REGION:
        required: true
# /USE_WORKFLOW
# USE_REPOSITORY
#  pull_request_target:
# /USE_REPOSITORY

permissions:
  id-token: write
  contents: read

jobs:
  tflint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        name: Cache plugin dir
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.config/tflint.hcl') }}

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.TFLINT_ROLE_ARN }}
          role-session-name: tflint
          aws-region: ${{ secrets.TFLINT_AWS_REGION }}

      - name: install tflint
        run: |
          # renovate: datasource=github-tags depName=terraform-linters/tflint
          tflint_version="v0.60.0"

          curl -o tflint.zip -L \
            https://github.com/terraform-linters/tflint/releases/download/${tflint_version}/tflint_linux_amd64.zip
          unzip tflint.zip

      - name: Show version
        run: ./tflint --config=.config/tflint.hcl --version

      - name: Init TFLint
        run: ./tflint --config=.config/tflint.hcl --init

      - name: Run TFLint
        run: ./tflint --config=.config/tflint.hcl -f compact
