---
name: Terraform

# yamllint disable-line rule:truthy
on:
  # USE_WORKFLOW
  workflow_call:
    secrets:
      TFLINT_ROLE_ARN:
        required: true
      TFLINT_AWS_REGION:
        required: true
# /USE_WORKFLOW
# USE_REPOSITORY
#  pull_request_target:
# /USE_REPOSITORY

permissions:
  id-token: write
  contents: read

jobs:
  tflint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        name: Cache plugin dir
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.config/tflint.hcl') }}

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: ${{ secrets.TFLINT_ROLE_ARN }}
          role-session-name: tflint
          aws-region: ${{ secrets.TFLINT_AWS_REGION }}

      - name: install tflint
        run: |
          # renovate: datasource=github-tags depName=terraform-linters/tflint
          tflint_version="v0.61.0"

          curl -o tflint.zip -L \
            https://github.com/terraform-linters/tflint/releases/download/${tflint_version}/tflint_linux_amd64.zip
          unzip tflint.zip

      - name: Show version
        run: ./tflint --config=.config/tflint.hcl --version

      - name: Init TFLint
        run: ./tflint --config=.config/tflint.hcl --init

      - name: Run TFLint
        run: ./tflint --config=.config/tflint.hcl -f compact
