---
name: Prepare Release PR

# yamllint disable-line rule:truthy
on:
  # USE_WORKFLOW
  workflow_call:
    secrets:
      SEMANTIC_RELEASE_GH_TOKEN:
        required: true
# /USE_WORKFLOW
# USE_REPOSITORY
#  push:
#    branches:
#      - main
# /USE_REPOSITORY

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: googleapis/release-please-action@e4dc86ba9405554aeba3c6bb2d169500e7d3b4ee # v4.1.1
        with:
          release-type: terraform-module
          include-v-in-tag: false
          # temporary tokens do not work as they don't have access to protected tags
          token: ${{ secrets.SEMANTIC_RELEASE_GH_TOKEN }}
