---
name: Close stale issues and PRs

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "25 2 * * *"

jobs:
  default:
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/this_stale.yml@5c9ed2712cf4a213138df8ab92f4e1384712784a # 1.25.8
    secrets: inherit
